<div class="body-wrapper">
    <div id="home" class="hero-section">
        <div class="swiper" #swiper>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="swiper-banner" src="../../../assets/image/banner/banner_1.jpg">
                </div>
                <div class="swiper-slide">
                    <img class="swiper-banner" src="../../../assets/image/banner/banner_1.jpg">
                </div>
                <div class="swiper-slide">
                    <img class="swiper-banner" src="../../../assets/image/banner/banner_1.jpg">
                </div>
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>