<div class="body-wrapper">
    <div id="home" class="hero-section">
        <div class="swiper" #swiper>
            <div class="swiper-wrapper">
                <ng-container *ngFor="let item of sharedService.bannerList">
                    <div class="redirect-game swiper-slide">
                        <img class="d-block d-sm-none" src="{{item.mobile_banner}}" style="width: 100%;"
                            [alt]="item?.alt" />
                        <img class="d-none d-sm-block" src="{{item.desktop_banner}}" style="width: 100%;"
                            [alt]="item?.alt" />
                    </div>
                </ng-container>
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="about_us" class="about-us-section section-space--ptb_60">
        <div class="container">
            <div class="feature-title-section">
                <div class="feature-title section-title text-center">
                    <h1>About Us!</h1>
                </div>
                <div class="feature-desc section-title-des text-center">
                    <p>
                        Reliable Tech Maintenance for Peace of Mind
                    </p>
                </div>
                <div class="text-center title-section-line">
                    <hr class="section-line">
                </div>
            </div>
            <div class="about-us-details">
                <div class="row gy-2">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-us-banner">
                            <img src="../../../assets/image/about_us.png" alt="About-Us">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="about-us-details">
                            <h2>Smart Security <br> Solutions Every Time</h2>
                            <p>Welcome to <b>JP Computer care</b>, your all-in-one service hub for comprehensive
                                electronics
                                maintenance, security care, and IT support. We understand that your computers, display
                                screens, and security cameras are critical investments. Our goal is simple: to keep your
                                technology operating at peak efficiency without costly downtime.</p>
                            <div class="about-product">
                                <p>
                                    <span class="right-sign">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </span>
                                    <b class="product-name">CCTV & Security Care : </b>
                                    Complete installation, lens cleaning, cable management, DVR/NVR troubleshooting, and
                                    remote viewing configuration to ensure 24/7 protection.
                                </p>
                                <p>
                                    <span class="right-sign">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </span>
                                    <b class="product-name">Computer & Laptop Solutions : </b>
                                    Deep cleaning, hardware upgrades, virus removal, OS optimization, and thermal paste
                                    re-application for maximum speed and longevity.
                                </p>
                                <p>
                                    <span class="right-sign">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </span>
                                    <b class="product-name">LCD / LED Display Repair : </b>
                                    Professional diagnosis for screen flickering, power board issues, color distortion,
                                    and backlight repairs for high-definition visual performance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us Section start -->
    <div id="contact_us" class="contact-us-section section-space--ptb_60">
        <div class="container">
            <div class="feature-title-section">
                <div class="feature-title section-title contact-us-title text-center">
                    <h1>Contact With Us!</h1>
                </div>
                <div class="feature-desc section-title-des contact-us-title-desc text-center">
                    <p>
                        We’re here to help you succeed
                    </p>
                </div>
                <div class="text-center title-section-line">
                    <hr class="section-line">
                </div>
            </div>
            <div class="contact-us-details">
                <div class="row">
                    <div class="col-lg-5 gy-4">
                        <div class="contact-form">
                            <div class="input-mdl">
                                <label>Subject : </label>
                                <input type="text" id="subject" name="subject" class="text-field"
                                    placeholder="Enter Subject *" [(ngModel)]="subject">
                                @if(isNotValid && !subject){
                                <div class="text-right">
                                    @if(!subject){
                                    <small class="text-danger">Required</small>
                                    }
                                </div>
                                }
                            </div>
                            <div class="input-mdl">
                                <label>Message :</label>
                                <textarea type="text" id="message" name="message" class="text-field"
                                    placeholder="Enter Message" [(ngModel)]="message"></textarea>
                            </div>
                            <div class="form-submit-btn">
                                <button class="p-btn header_btn" (click)="sendMail()">Send</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 gy-4">
                        <div class="map-section h-100">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3719.327337100962!2d72.8325479!3d21.218864500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDEzJzA3LjkiTiA3MsKwNDknNTcuMiJF!5e0!3m2!1sen!2sin!4v1784996183919!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="strict-origin-when-cross-origin"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Us Section end -->

</div>