.footer-section {
    background-color: #f4f4f4;
    padding-top: 30px;
}

.logo-box {
    text-align: center;
}

.footer-logo {
    width: 100px;
    margin-bottom: 20px;
}

.tag-line {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

.footer-card {
    height: 100%;

    .title {
        text-align: center;
        border-bottom: 2px dotted var(--primary-color);
        padding-bottom: 10px;
    }
}

.social-link {
    display: flex;
    gap: 10px;

    img {
        width: 30px;
        height: 30px;
    }
}

.social-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-policy-section {
    background-color: var(--primary-color);
    padding: 10px 0px;
    color: var(--secondary-color);
    margin-top: 30px;
}

.footer-policy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-tag-line {
    color: var(--secondary-color);

    .heart-icon {
        color: red;
        margin: 0 5px;
    }
}

.menu-link a {
    cursor: pointer;
}

.menu-link a:hover {
    font-weight: 600;
}

.social-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-social-icon {
    width: 20px;
    height: 20px;
}

@media (max-width:575.98px) {
    .footer-policy {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .social-icon {
        justify-content: center;
    }
}

@media (min-width:576px) and (max-width:767.98px) {}

@media (min-width:768px) and (max-width:991.98px) {}

@media (min-width:992px) and (max-width:1199.98px) {}

@media (min-width:1200px) and (max-width:1399.98px) {}