<div class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-3">
                    <div class="footer-card logo-box">
                        <img class="footer-logo" src="../../../../assets/image/logo/favicon.png" alt="">
                        <p class="tag-line">Expert Repair, Trusted Care</p>
                    </div>
                </div>

                <div class="col-3">
                    <div class="footer-card">
                        <h5 class="title">
                            Product Categories
                        </h5>
                    </div>
                </div>
                <div class="col-3">
                    <div class="footer-card">
                        <h5 class="title">
                            Useful Links
                        </h5>
                        <div class="menu-link">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">About US</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Contact US</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="footer-card">
                        <h5 class="title">
                            Contact Info.
                        </h5>
                        <div class="menu-link">
                            <div class="social-menu">
                                <p class="social-link">
                                    <img src="../../../../assets/image/social/mobile.png" alt="">
                                    <a></a>
                                </p>
                                <p class="social-link">
                                    <img src="../../../../assets/image/social/whatsapp.png" alt="">
                                    <a></a>
                                </p>
                                <p class="social-link">
                                    <img src="../../../../assets/image/social/gmail.png" alt="">
                                    <a></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            fg
        </div>
    </div>
</div>