<div class="sidebar-wrapper">
    <!-- Header Section -->
    <div class="sidebar-header">
        <div class="logo-box">
            <img src="assets/image/logo/white_logo.png" alt="logo">
        </div>
        <button class="close-sidebar" (click)="sharedService.toggleSidebar = false">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <!-- Body / Menu Section -->
    <div class="sidebar-body">
        <ul class="sidebar-menu">
            <li>
                <a routerLink="/" (click)="sharedService.scrollto('home')"><i class="fa-solid fa-house me-2"></i> Home</a>
            </li>
            <li>
                <a routerLink="/" (click)="sharedService.scrollto('product')"><i class="fa-solid fa-box me-2"></i> Products</a>
            </li>
            <li>
                <a routerLink="/" (click)="sharedService.scrollto('about_us')"><i class="fa-solid fa-circle-info me-2"></i> About US</a>
            </li>
            <li>
                <a routerLink="/" (click)="sharedService.scrollto('contact_us')"><i class="fa-solid fa-envelope me-2"></i> Contact US</a>
            </li>
        </ul>
    </div>
</div>