:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --third-color: #2B180B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', sans-serif;
    color: var(--primary-color);
    font-size: 16px;
}