.header-section {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0px;
}

.logo-section {
    width: 100px;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.toggle-btn-section {
    display: flex;
    justify-content: end;
}

.bar-icon {
    font-size: 18px;
    cursor: pointer;
    color: var(--secondary-color);
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    animation: fadeIn 0.3s ease;
}

.sidebar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    background-color: var(--secondary-color);
    z-index: 1050;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    animation: slideIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width: 575.98px) {
    .header-section {
        padding: 10px 0px;
    }

    .logo-section {
        width: 100px;
    }

    .logo {
        width: 80px;
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    .logo {
        width: 80px;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .logo {
        width: 85px;
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .logo {
        width: 85px;
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {}