<div class="main-wrapper">
    <div class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="logo-section">
                        <img class="logo" src="../../../../assets/image/logo/logo.jpg" alt="">
                    </div>
                </div>
                <div class="col-7">
                    <div class="nav-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">About US</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Contact US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>