<div class="main-wrapper">
    <!-- Header Section -->
    <div class="header-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-6">
                    <div class="logo-section" routerLink="/" (click)="sharedService.scrollto('home')">
                        <img class="logo" src="assets/image/logo/white_logo.png" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-7 col-6 text-end">

                    <!-- Mobile / Tablet Toggle (< 992px) -->
                    <div class="d-block d-lg-none">
                        <div class="toggle-btn-section">
                            <span class="bar-icon" (click)="toggleSidebar()">
                                <i class="fa-solid fa-bars"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Desktop Menu (>= 992px) -->
                    <div class="d-none d-lg-block">
                        <div class="nav-menu">
                            <ul>
                                <li>
                                    <a class="p-btn" routerLink="/" (click)="sharedService.scrollto('home')">Home</a>
                                </li>
                                <li>
                                    <a class="p-btn" routerLink="/">Products</a>
                                </li>
                                <li>
                                    <a class="p-btn" routerLink="/">About US</a>
                                </li>
                                <li>
                                    <a class="p-btn" routerLink="/"
                                        (click)="sharedService.scrollto('contact_us')">Contact US</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar & Overlay (Header ની બહાર રેન્ડર કરો જેથી Positon Absolute/Fixed પ્રોપર થાય) -->
    @if(sharedService.toggleSidebar){
    <!-- Background Overlay -->
    <div class="sidebar-overlay" (click)="toggleSidebar()"></div>

    <!-- Slide-out Sidebar -->
    <div class="sidebar-wrapper">
        <app-side-bar></app-side-bar>
    </div>
    }
</div>